.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#blogForm {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 8px;
}

.blogImageCell {
    width: 150px;
}

#blogs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blog {
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    background-color: darkslategray;
    color: white;
    border-radius: 24px;
}