body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark-mode {
  background-color: #282828;
  color: rgb(231, 231, 231);
}

.dark-toggle {
  color: white;
}

.underline {
  text-decoration: underline;
}

.strike-through {
  text-decoration: line-through;
}

#todos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.add-form {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
}

.add-form button {
  padding: 12px 16px;
}

.add-form input {
  font-size: 24px;
}

.todos-filters {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
}

.todos-filters button {
  padding: 12px 16px;

}

.todo {
  padding: 24px;
  background-color: rgb(45, 54, 54);
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn-complete {
  width: 150px;
  height: fit-content;
  padding: 12px 16px;
}

.btn-complete:hover {
  cursor: pointer;
}

.completed {
  background-color: rgb(33, 160, 56);
}

.completed-title {
  text-decoration: line-through;
}

.red {
  background-color: rgb(124, 44, 44);
}

@media screen and (max-width: 768px) {
  #todos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media screen and (max-width: 600px) {
  #todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.shadow {
  /* box-shadow: 0 2px 0 5px rgb(82, 77, 77); */
}

.btn-hover {
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  border-radius: 12px;
  transition: 0.3s;
}
